fastapi
uvicorn
pydantic
pydantic-settings
google-cloud-storage
langgraph
langgraph[mongodb]
langgraph.checkpoint.mongodb
langchain-openai
langchain-core
openai
python-dotenv
pymongo
motor
faiss-cpu
numpy
opencv-python
requests
replicate